<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DataFilter.Blazor.Demo.Hybrid</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/demo" Match="NavLinkMatch.All">
                <span class="bi bi-list-columns-nav-menu" aria-hidden="true"></span> Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/demo/local">
                <span class="bi bi-grip-vertical-nav-menu" aria-hidden="true"></span> Local Filter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/demo/async">
                <span class="bi bi-cloud-download-nav-menu" aria-hidden="true"></span> Async Filter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/demo/hybrid">
                <span class="bi bi-intersect-nav-menu" aria-hidden="true"></span> Hybrid Filter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/demo/customization">
                <span class="bi bi-palette-nav-menu" aria-hidden="true"></span> Customization
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/demo/collectionview">
                <span class="bi bi-collection-nav-menu" aria-hidden="true"></span> Collection View
            </NavLink>
        </div>
    </nav>
</div>
